* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}


.summary-weather{
    display: flex;
}

.summary-weather-content{
    margin: 0 auto;

}

#weather-icon {
    width: 350px;
    height: 150px;
}

#current-temp, #current-weather-description{
    margin-top: 10px;
    font-size: 35px;
    color: orange;
}

.detail-weather{
    margin-top: 50px;
}

.location-detail{
    margin-top: 20px;
}

#table-detail-weather{
    border-top: 1px solid black;    
    display: none;
}


th,td{
    padding-right: 15px;
    width: calc(100%/5);
    text-align: center;
}